<div class="container">
	<div class="row">
		
		<p id="notice">
	 	<%= notice %>
		</p>
		<div class="main col-md-offset-3 col-md-6">
			<h1>welcome to<span class="glyphicon glyphicon-book"></span>
			<strong>Bookers</strong>  !!</h1>
			<p>In <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>,</p>
			<!-- <h1 class="jquery">Hello JQuery</h1> -->
			<p>you can share and exchange your opinions , inpressions , and emotions</p>
			<p>about varioius books!</p>
		</div>
		
		<% if user_signed_in? %>
			<div class="btn-wrapper">
				<div class="row">
					<p><%=link_to "Log in", user_path(current_user.id), class: "btn btn-info col-xs-10 col-xs-offset-1" %></p>
				</div>
				<div class="row">
					<p><%=link_to "Sign up", user_path(current_user.id), class: "btn btn-success col-xs-10 col-xs-offset-1" %></p>
				</div>

		<% else %>

			<div class="class="btn-wrapper>
				<div class="row">
					<%= link_to "Log in", new_user_session_path, class: "post btn btn-info col-xs-10 col-xs-offset-1 sign_in" %> <!-- ログイン画面に移行する -->
				</div>
				<div class="row">
					<%= link_to "Sign Up", new_user_registration_path, class: "post btn btn-success col-xs-10 col-xs-offset-1 sign_up" %> <!-- 新規登録画面に移行する -->
				</div>
			</div>
		<% end %>

	</div>
</div>